footer {
    background-color: rgba(0, 253, 232, 0.39);
    font-family: 'Unna', serif;
    font-size: smaller;
    padding: 5px;
    margin-top: 10px;
}

footer a {
    text-decoration: none;
}

#menu_footer a {
    color: white;
    font-family: 'Unna', serif;
}

#menu_footer a:hover {
    text-decoration: underline;
}

.titre {
    font-family: 'Unna', serif;
    margin: 0px;
    margin-right: 5px;
    text-decoration: underline;
}

#plan {
    margin: 0;
}