h1 {
    color: red;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 3em;
    text-align: center;
    margin: 20px;
}

h1, h2, h3, h4, h5, h6, nav a {
    font-family: 'Julius Sans One', sans-serif;
}   

#liens {
    margin: 1%;
    margin-right: 0%;
    margin-left: 0%;
    width: 15%;
    float: left;
}

#liens a {
    list-style-type: none;
    color: black;
}

#liens a:hover {
    font-weight: bolder;
    text-decoration: underline;
    color: red;
}

p {
    font-family: "Unna", serif;
}

#entete {
    padding: 0px;
    margin-left: 32px;
    margin-right: 32px;
}

#page li {
    list-style-type: "\00221E";
    padding-left: 1em;
}

#page {
    padding: 10px;
    padding-left: 0px;
    margin-left: 15%;
    width: 85%;
}

nav ul {
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
    list-style-type: none;
}

nav td {
    text-align: center;
    padding: 1.5%;
    background-color: rgba(255, 255, 255, 0.5);
    height: 40px;
    width: 220px;
}

nav table {
    margin: 1%;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url(../img/fond_ordi.jpg);
    background-size: 120%;
    color: white;
    background-attachment: fixed;
}

#page a {
    color: rgb(0, 255, 255);
    text-decoration: none;
}

#page a:hover {
    color: red;
    text-decoration: underline;
}

h2 {
    color: red;
    text-decoration: underline;
}

input, select
{
    background: rgba(255, 255, 255, 0.5);
    border: 2px white;
    outline: none;
}

ul {
    margin-top: 5px;
}

body {
	margin: 0;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.italique {
    font-style: italic;
}

.code {
    border: 5px solid black;
    border-radius: 5px;
    padding: 5px;
}
footer {
    background-color: rgba(0, 253, 232, 0.39);
    font-family: 'Unna', serif;
    font-size: smaller;
    padding: 5px;
    margin-top: 10px;
}

footer a {
    text-decoration: none;
}

#menu_footer a {
    color: white;
    font-family: 'Unna', serif;
}

#menu_footer a:hover {
    text-decoration: underline;
}

.titre {
    font-family: 'Unna', serif;
    margin: 0px;
    margin-right: 5px;
    text-decoration: underline;
}

#plan {
    margin: 0;
}
label {
    margin-right: 5px;
    line-height: 32px;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 4px;
    margin-right: 20px;
}

input:checked {
    border: 6px solid black;
}

button, legend {
    color: white;
    padding: 5px 10px;
    border-radius: 0;
    border: 0;
    font-size: 14px;
}

button:hover,
button:focus {
    color: #999;
}

button:active {
    background-color: white;
    color: black;
    outline: 1px solid black;
}
a#Haut_page {
    border-radius: 5px;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 1);
    position: fixed;
    right: 20px;
    opacity: 1;
    z-index: 99999;
    transition: all ease-in 0.3s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
}

a#Haut_page:before {
    content: "\25b2";
}

a#Haut_page:hover {
    color: red;
    transition: all ease-in 0.2s;
}

a#Haut_page.invisible {
    bottom: -35px;
    opacity: 0;
    transition: all ease-in 0.5s;
}

a#Haut_page.visible {
    bottom: 20px;
    opacity: 1;
}
p {
    margin: 0px;
}
.legende {
    text-decoration: underline;
}

#images {
    margin-bottom: 0px;
}

#titre_haut {
    margin-top: 0px;
}